<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8oaoqAlrKX1sMcIlkt4ycsCQpD3ZAhAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>195577296612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoUsermary</string>
	<key>PROJECT_ID</key>
	<string>todolist-e207</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195577296612:ios:441eba50e1f2974b655ef1</string>
</dict>
</plist>